/* 
Theme Name: Learn WordPress Theme
Version: 0.0.1
Author: MuiPV
Description: Try hard
Tags: Something here 
*/

/*!
Theme Name: vfftech-illdy
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: vfftech-illdy
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

vfftech-illdy is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 5 Columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.col-xs-15 {
    width: calc((100%-30px)/5);
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}

.test {
    background-color: grey;
}

/* Reset*/

* {
    padding: 0;
    margin: 0;
}

html,
body {
	width: 100%;
    margin-top: 0 !important;
    color: #8c9597;
}

li {
    list-style: none;
}

a {
    color: #8c979e;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
}

textarea {
    resize: none;
}

.text-white {
    color: #fff;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}


.preloading {
    overflow: hidden;
}

/*========================= header =========================*/
#header {
    /* background-image: url(../image/front-page-header.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    /*background-repeat: no-repeat;*/
}

#header .top-header .navbar {
    margin-bottom: 0;
}

#header button {
    margin-top: 30px;
    border: none;
}

#header .icon-bar {
    background-color: #f1d204;
}

#header .top-header .navbar-default {
    background: transparent;
    border-color: transparent;
}

#header .top-header .navbar-default ul li a {
    color: #fff;
    font-size: 2rem;
    font-family: Lato;
    font-weight: 600;
    padding-top: 40px;
}

#header .top-header .navbar-default ul li a:hover {
    color: #f1d204;
}

#header .top-header .navbar-brand {
    height: auto;
}

#header .bottom-header {
    padding-top: 240px;
    padding-bottom: 280px;
}

#header .bottom-header h1 {
    margin: 0 0 29px 0;
    line-height: 84px;
    font-weight: 700;
    font-size: 80px;
    color: #fff;
    font-family: "Poppins";
}

#header .bottom-header .span-dot {
    color: #f1d204;
}

#header .bottom-header .section-description {
    line-height: 26px;
    margin-bottom: 60px;
    font-size: 16px;
    color: #fff;
    font-family: "Lato";
    font-weight: 400;
}

#header .bottom-header .header-button-one {
    width: auto;
    height: 63px;
    line-height: 57px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 15px;
    padding: 0 70px;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-family: "Lato";
    min-width: 242px;
}

#header .bottom-header .header-button-one:hover,
#header .bottom-header .header-button-one:focus {
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

#header .bottom-header .header-button-two {
    width: auto;
    height: 63px;
    line-height: 63px;
    background: #f1d204;
    margin: 0 15px;
    padding: 0 70px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-family: "Lato";
    min-width: 242px;
}

#header .bottom-header .header-button-two:hover,
#header .bottom-header .header-button-two:focus {
    background: #6a4d8a;
    text-decoration: none;
}


/*============================ about =============================*/

#about h3 {
    color: #545454;
    font-family: "Poppins";
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
    margin: 55px 0;
}

#about .section-description {
    margin-bottom: 55px;
    line-height: 26px;
    font-size: 16px;
    color: #8c9597;
    font-family: "Lato";
    font-weight: 400;
}

.progress {
    height: 5px;
    overflow: visible;
}

.progress-bar {
    position: relative;
    box-shadow: none;
}

.ui-progressbar-value-circle {
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    top: -2.5px;
    right: -1px;
    border-radius: 50%;
}

.ui-progressbar-value-top {
    content: "";
    width: 64px;
    height: 29px;
    line-height: 26px;
    background-color: #000;
    position: absolute;
    top: -45px;
    right: -29px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    font-family: "Lato";
}

.ui-progressbar-value-triangle {
    width: 0;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 5px 4.5px 0 4.5px;
    line-height: 0px;
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
}

/*============================ projects =============================*/

#projects {
    /* background-image: url(../image/pattern.png) !important; */
    background-repeat: repeat !important;
    margin-top: 55px;
}

#projects .top-projects {
    padding: 40px 0;
}

#projects h3 {
    color: #545454;
    font-family: "Poppins";
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
}

#projects .section-description {
    line-height: 26px;
    font-size: 16px;
    color: #8c9597;
    font-family: "Lato";
    font-weight: 400;
    margin: 10px 0 0 0;
}

#projects .project-image {
    position: relative;
}

#projects .project-image:hover .overlay {
	cursor: pointer;
	opacity: 0.5;
}

#projects .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	opacity: 0;
	z-index: 1;
	transition:  all 0.3s;
}


/*============================ testimonials =============================*/

#testimonials {
    /* background-image: url(../image/testiomnials-background.jpg); */
    width: 100%;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#testimonials h3 {
    color: #fff;
    font-family: "Poppins";
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
}

#testimonials .testimonial-image {
    padding: 30px 0;
}
#testimonials .testimonial-image img {
    margin: auto;
}

#testimonials .testimonial-content {
    width: 100%;
    background-color: #6a4d8a;
    margin-bottom: 48px;
    padding: 50px 35px 25px;
    position: relative;
}

#testimonials .testimonial-content:after {
    content: "";
    width: 0;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 19px 18px 0 18px;
    border-color: #6a4d8a transparent transparent transparent;
    position: absolute;
    right: 0;
    bottom: -19px;
    left: 0;
}

#testimonials .testimonial-meta {
    width: 100%;
    color: #fff;
    font-family: "Poppins";
}

#testimonials .testimonial-meta h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

#testimonials blockquote {
    border-left: none;
    color: #fff;
}

#testimonials .carousel-indicators {
    position: relative;
    bottom: 0;
    margin-top: 10px;
}

#testimonials .slick-dots li.slick-active button:before {
    color: #fff;
}

#testimonials .slick-dots li button:before {
    font-size: 20px;
}
/*============================ services =============================*/

#services {
    padding: 55px 0;
}

#services>div:first-child {
    margin-bottom: 20px;
}

#services h3 {
    color: #545454;
    font-family: "Poppins";
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
}

#services .section-description {
    line-height: 26px;
    font-size: 16px;
    color: #8c9597;
    font-family: "Lato";
    font-weight: 400;
    margin: 10px 0 0 0;
}

#services .service .service-icon {
    width: 100%;
    margin-bottom: 10px;
    font-size: 35px;
}

#services .service .service-title {
    width: 100%;
    margin-bottom: 20px;
}

#services .service h5 {
    font-family: "Poppins";
    font-size: 23px;
    line-height: 32px;
    font-weight: 700;
}

#services .service .service-entry {
    width: 100%;
    line-height: 26px;
    color: #8c9597;
    font-size: 16px;
    font-family: "Lato";
    font-weight: 400;
}

/*============================ latest-news =============================*/
#latest-news {
    width: 100%;
    background-color: #222f36;
    padding: 75px 0 85px 0;
    text-align: center;
}

#latest-news .section-header {
    margin-bottom: 55px;
}

#latest-news h3 {
    color: #fff;
    margin: 0 0 5px 0;
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
    font-family: "Poppins";
}

#latest-news .section-description {
    line-height: 26px;
    font-size: 16px;
    color: #8c9597;
    font-family: "Lato";
    font-weight: 400;
}

#latest-news .latest-news-button {
    width: auto;
    min-height: 45px;
    line-height: 45px;
    background: #f1d204;
    margin-bottom: 50px;
    padding: 0 35px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f7f7f7;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-family: "Lato";
}

#latest-news .latest-news-button:hover {
    background-color: #6a4d8a;
}

#latest-news .section-content .post {
    width: 100%;
    background-color: #fff;
    padding-bottom: 40px;
    text-align: left;
    min-height: 547px;
}

#latest-news .section-content .post .post-image {
    width: 100%;
    height: 213px;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 37px;
}

#latest-news .section-content .post .post-title {
    width: 100%;
    padding: 0 30px;
    color: #5e5e5e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    font-size: 23px;
    line-height: 32px;
    font-weight: 700;
    font-family: "Poppins";
}

#latest-news .section-content .post .post-title:hover {
    color: #f1d204;
}

#latest-news .section-content .post .post-entry {
    margin: 40px 0 55px 0;
    padding: 0 30px;
    line-height: 26px;
    color: #8c9597;
    font-size: 16px;
}

#latest-news .section-content .post .post-button {
    line-height: 26px;
    padding: 0 30px;
    font-size: 16px;
    font-family: "Lato";
    color: #f1d204;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 10px;
}

#latest-news .section-content .post .post-button:hover {
    color: #6a4d8a;
}

/*============================ Counter =============================*/
#counter {
    /* background-image: url(../image/front-page-counter.jpg); */
    width: 100%;
    padding: 55px 0;
    text-align: center;
    position: relative;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

#counter .counter div:nth-child(1n+2):not(:last-child) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

#counter .counter-number {
    width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 65px;
    color: #fff;
    font-family: "Poppins";
    line-height: 70px;
    display: none;
}

#counter .counter-number.number-show {
    display: block;
}

#counter .section-description {
    width: 100%;
    line-height: 24px;
    display: block;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 700;
}

/*============================ Team =============================*/
#team {
    /* background-image: url(../image/pattern.png) !important; */
    background-repeat: repeat !important;
    padding-top: 50px;
}

#team h3 {
    color: #545454;
    font-family: "Poppins";
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
}

#team .p-img {
    float: left;
    margin-right: 25px;
    width: 125px;
}

#team .p-info {
    text-align: left;
    width: calc(100% - 150px);
    float: right;
}

#team .p-info h6 {
    width: 100%;
    margin: 12px 0 5px 0;
    color: #5e5e5e;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

#team .p-info p {
    width: 100%;
    margin: 0 0 10px 0;
    color: #8c9597;
    line-height: 20px;
}

#team .p-info li {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 50px;
}

#team .p-info li a {
    display: inline-block;
    border: 1px solid;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
}

#team .section-description {
    margin-bottom: 55px;
    line-height: 26px;
    font-size: 16px;
    color: #8c9597;
    font-family: "Lato";
    font-weight: 400;
}

/*============================ contact =============================*/
#contact {
    padding: 55px 0;
}

#contact h3 {
    color: #545454;
    font-family: "Poppins";
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 55px;
}

#contact .left {
    display: table-cell;
    padding-right: 15px;
    border-right: 1px solid #e1e1e1;
    color: #f1d204;
    margin-bottom: 40px;
}

#contact .right {
    display: table-cell;
    padding-left: 15px;
    line-height: 1.6;
    font-size: 16px;
    color: #8c9597;
    font-family: "Lato";
}

#contact .social {
    margin-bottom: 40px;
    text-align: right;
}

#contact .social li {
    display: inline;
    margin-left: 5px;
    font-size: 1.5rem;
}


#contact form p {
    margin: 15px 0 5px;
}

#contact form .text-design {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Lato";
}

#contact .send {
    display: inline-block;
    float: right;
    background: #f1d204;
    color: #fff;
    font-family: Lato;
    font-weight: 600;
    font-size: 2rem;
    padding: 8px 50px;
    margin-top: 50px;
}

/*============================ footer =============================*/
#footer {
    background-color: #292825;
}

#footer .title h3 {
    color: #fff;
    font-weight: 900;
    font-family: Lato;
}

#footer ul li {
    list-style: none;
}

#footer ul li a {
    font-family: "Poppins";
    font-weight: 600;
    line-height: 33px;
}

#footer ul li a:hover {
    color: #6a4d8a;
}

#footer span {
    margin-right: 10px;
}

.bottom-footer {
    padding: 30px 0;
    text-align: center;
    background-color: #242320;
}

.test {
    background-color: grey;
}

#footer .bottom-footer .copyright {
    width: 100%;
    line-height: 1.2;
    color: #8c9597;
    margin-bottom: 0;
    font-size: 15px;
}

#footer .bottom-footer .bottom-copyright {
    color: #fff;
}